In [1]:
#전공캠프 시작

#리눅스 커널 명령어
!pwd

/content

In [3]:
!ls -al

total 16
drwxr-xr-x 1 root root 4096 Jul 15 13:38 .
drwxr-xr-x 1 root root 4096 Jul 19 01:07 ..
drwxr-xr-x 4 root root 4096 Jul 15 13:37 .config
drwxr-xr-x 1 root root 4096 Jul 15 13:38 sample_data

In [4]:
print("Hello World!")

Hello World!

##예제 1-2 시리즈 인덱스

In [6]:
import pandas as pd

# 리스트를 시리즈로 변환하여 변수 series에 저장
list_data = ['2019-01-02',3.14,'ABC',100,True]
series = pd.Series(list_data)
print(series)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [8]:
# 인덱스 배열은 변수 index에 저장. 데이터 값 배열은 변수 value에 저장
index = sr.index
value = sr.values
print(index)
print('\n')
print(value)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

##예제 1-3 시리즈 원소 선택

In [9]:
# 튜플을 시리즈로 변환
tupleData = ['영인','2010-05-01','여',True]
series = pd.Series(tupleData,index=['이름','생년월일','성별','학생여부'])
print(series)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [10]:
print(series[0])
print(series['이름'])

영인
영인

In [12]:
print(series[[1,2]])
print('\n')
print(series[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [13]:
# 여러 개의 원소를 선택(인덱스 범위 지정)
print(series[1:2])
print('\n')
print(series['생년월일' : '성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

##예제 1-4 딕셔너리 -> 데이터프레임 변환

In [14]:
# 열 이름을 key로 하고, 리스트를 value로 가지는 2차원 배열 딕셔너리
dicData = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환 후 변수 dataFrame에 저장
dataFrame = pd.DataFrame(dicData)

# 자료형 출력
print(type(dataFrame))
print('\n')
# 변수 dataFrame에 저장되어 있는 데이터프레임 객체 출력
print(dataFrame)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

##예제 1-5 행 인덱스/열 이름 설정

In [16]:
# 행 인덱스/열 이름을 지정해 데이터프레임 생성
dataFrame = pd.DataFrame([[15,'남','덕영중'],[17,'여','수라중']],
                         index = ['준서','예은'],
                         columns = ['나이','성별','학교'])
print(dataFrame)
print('\n')
print(dataFrame.index)
print('\n')
print(dataFrame.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수라중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [19]:
# 행 인덱스, 열 이름 변경하기
dataFrame.index = ['학생1','학생2']
dataFrame.columns = ['연령','남녀','소속']

print(dataFrame)
print('\n')
print(dataFrame.index)
print('\n')
print(dataFrame.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수라중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [5]:
import pandas as pd
df = pd.DataFrame([['체육', '체육', '체육','체육','체육'],
                   ['체육', '체육', '체육','체육','체육'],
                   ['체육', '체육', '체육','체육','체육'],
                   ['체육', '체육', '체육','체육','체육'],
                   ['체육', '체육', '체육','체육','체육'],
                   ['체육', '체육', '체육','체육','체육'],
                   ['체육', '체육', '체육','체육','체육']
                   ])


df.index = ['1', '2', '3', '4', '5','6','7']
df.columns = ['월', '화', '수','  목','  금']
print(df)

    월   화   수   목   금
1  체육  체육  체육  체육  체육
2  체육  체육  체육  체육  체육
3  체육  체육  체육  체육  체육
4  체육  체육  체육  체육  체육
5  체육  체육  체육  체육  체육
6  체육  체육  체육  체육  체육
7  체육  체육  체육  체육  체육

##예제 1-6 행 인덱스/열 이름 변경

In [9]:
# 행 인덱스/열 이름을 지정해 데이터프레임 생성

dataFrame = pd.DataFrame([[15,'남','덕영중'],[17,'여','수라중']],
                         index = ['준서','예은'],
                         columns = ['나이','성별','학교'])
print(dataFrame)
print('\n')
print(dataFrame.index)
print('\n')
print(dataFrame.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수라중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [10]:
# 나이->연령, 성별->남녀, 학교->소속
dataFrame.rename(columns = {'나이':'연령','성별':'남녀','학교':'소속'},inplace = True)
dataFrame.rename(index = {'준서':'학생1','예은':'학생2'},inplace = True)

print(dataFrame)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수라중

## 예제 1-7 행 삭제

In [12]:
#4959-3462-2123
examData = {'수학':[90,80,70],'영어':[98,89,95],
          '음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(examData,index = ['서준','우현','인아'])
print(df)
print('\n')

df2 = df[:]
df2.drop('우현',inplace=True)
print(df2)
print('\n')

#df3 = df[:]
#df3.drop(['우현','인아'],axis=0,inplace=True)
#print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

##예제 1-8 열 삭제

In [13]:
#4959-3462-2123
examData = {'수학':[90,80,70],'영어':[98,89,95],
          '음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(examData,index = ['서준','우현','인아'])
print(df)
print('\n')

df4 = df.copy()
df4.drop('수학',axis = 1,inplace = True)
print(df4)
print('\n')

df5 = df.copy()
df5.drop(['영어','음악'],axis = 1,inplace = True)
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

##예제 1-9 행 선택

In [14]:
#4959-3462-2123
examData = {'수학':[90,80,70],'영어':[98,89,95],
          '음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(examData,index = ['서준','우현','인아'])
print(df)
print('\n')

labell = df.loc['서준']
position1 = df.iloc[0]
print(labell)
print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [16]:
labell2 = df.loc[['서준','우현']]
position2 = df.iloc[0,1]
print(labell2)
print('\n')
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


98

In [18]:
labell3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(labell3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

##예제 1-10 열 선택

In [19]:
examData = {'이름':['서준','우현','인아'],
          '수학':[90,80,70],
          '영어':[98,89,95],
          '음악':[85,95,100],
          '체육':[100,90,90]}
df = pd.DataFrame(examData)
print(df)

print(type(df))
print('\n')
# 수학 점수 데이터만 선택해 변수 math1에 저장
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')
# 영어 점수 데이터만 선택해 변수 english에 저장
english = df.영어
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
# 음악,체육 정수 데이터를 선택해 저장
musicGym=df[['음악','체육']]
print(musicGym)
print(type(musicGym))
print('\n')
# 수학 정수 데이터만 선택,변수 math2에 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [21]:
df.iloc[ : : 2]
df.iloc[0:3:2]
df.iloc[: : -1]

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

##예제 1-11 원소 선택

In [22]:
examData={'이름':['서준','우현','인아'],
          '수학':[90,80,70],
          '영어':[98,89,95],
          '음악':[85,95,100],
          '체육':[100,90,90]}
df=pd.DataFrame(examData)
#'이름' 열을 새로운 인덱스로 지정,df 객체에 변경 사항 반영
df.set_index('이름',inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [23]:
a = df.loc['서준','음악']
print(a)
b = df.iloc[0,2]
print(b)

c = df.loc['서준',['음악','체육']]
print(c)
d = df.iloc[0,[2,3]]
print(d)
e = df.loc['서준','음악':'체육']
print(e)
f=df.iloc[0,2:]
print(f)

85
85
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

##예제 1-12 열 추가

In [26]:
examData={'이름':['서준','우현','인아'],
          '수학':[90,80,70],
          '영어':[98,89,95],
          '음악':[85,95,100],
          '체육':[100,90,90]}
df=pd.DataFrame(examData)
print(df)

df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

##예제 1-13 행 추가

In [25]:
print('\n')
df.loc[3] = 0
print(df)
print('\n')

# 새로운 행 추가 
df.loc[4] = ['동규',90,80,70,60]
print(df)
print('\n')

# 새로운 행 추가 (복사)
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

##예제 1-14 원소 값 변경

In [27]:
examData = {'이름':['서준','우현','인아'],
          '수학':[90,80,70],
          '영어':[98,89,95],
          '음악':[85,95,100],
          '체육':[100,90,90]}
df = pd.DataFrame(examData)

# 이름 열을 새로운 인덱스로 지정
df.set_index('이름',inplace=True)
print(df)
print('\n')

# 특정 원소 변경
df.iloc[0][3]=80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준','체육'] = 100
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [28]:
df.loc['서준',['음악','체육']] = 50
print(df)
print('\n')

df.loc['서준',['음악','체육']]=100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

## 예제 1-15 행,열 변환

In [31]:
examData = {'이름':['서준','우현','인아'],
          '수학':[90,80,70],
          '영어':[98,89,95],
          '음악':[85,95,100],
          '체육':[100,90,90]}
df = pd.DataFrame(examData)
print(df)
print('\n')

# 데이터 프레임 전치(메소드)
df = df.transpose()
print(df)
print('\n')

# 데이터 프레임 전치(클래스)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

##예제 1-16 특정 열 행 인덱스로 설정

In [32]:
examData = {'이름':['서준','우현','인아'],
          '수학':[90,80,70],
          '영어':[98,89,95],
          '음악':[85,95,100],
          '체육':[100,90,90]}
df = pd.DataFrame(examData)
print(df)
print('\n')

# 특정 열을 행 인덱스로 설정
ndf = df.set_index(['이름'])
print(ndf)
print('\n')

ndf2 = df.set_index('음악')
print(ndf2)
print('\n')

ndf3 = ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  인아  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

##예제 1-17 행 인덱스 재배열

In [ ]:
dicData = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

# 딕셔너리를 데이터프레임으로 변환 후 지정
df = pd.DataFrame(dicData,index=['r0','r1','r2'])
print(df)
print('\n')

# 인덱스 재지정
newIndex = ['r0','r1','r2','r3','r4']
ndf = df.reindex(newIndex)
print(ndf)
print('\n')

# 인덱스 재지정
newIndex = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(newIndex,fill_value=0)
print(ndf2)
print('\n')

##예제 1-18 정수형 위치 인덱스 초기화

In [33]:
dicData = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dicData,index=['r0','r1','r2'])
print(df)
print('\n')

ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

##예제 1-19 데이터프레임 정렬

In [34]:
dicData = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dicData,index=['r0','r1','r2'])
print(df)
print('\n')

ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

##예제 1-20 열 기준 정렬

In [35]:

dicData = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dicData,index=['r0','r1','r2'])
print(df)
print('\n')

ndf = df.sort_values(by='c1',ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

##예제 2-1 CSV 파일 생성

In [36]:
pd.set_option('display.max_columns',15)
df = pd.read_csv("aaa.csv")
df.to_csv("aaa.csv")

FileNotFoundError: ignored